{% extends 'elementos/estructura.html' %} {% block contenido %}
<div class="container mb-4">
  <div class="col">
    <div class="card text-center p-4 m-4 bg-pink text-white border-dark">
      <h1><i class="fa-solid fa-envelope"></i> Email</h1>
      <hr />
      <h2>entrenosotras.org@gmail.com</h2>
    </div>
  </div>
  <div class="col">
    <div class="card text-center p-4 m-4 bg-pink text-white border-dark">
      <h1><i class="fa-brands fa-facebook"></i> Facebook</h1>
      <hr />
      <h2>facebook.com/entrenosotras</h2>
    </div>
  </div>
  <div class="col">
    <div class="card text-center p-4 m-4 bg-pink text-white border-dark">
      <h1><i class="fa-brands fa-twitter"></i> Twitter</h1>
      <hr />
      <h2>twitter.com/entrenosotras</h2>
    </div>
  </div>
  <div class="col">
    <div class="card text-center p-4 m-4 bg-pink text-white border-dark">
      <h1><i class="fa-brands fa-instagram"></i> Instagram</h1>
      <hr />
      <h2>instagram.com/entrenosotras</h2>
    </div>
  </div>

  <div class="col">
    <div class="card text-center p-4 m-4 bg-pink text-white border-dark">
      <h1><i class="fa-solid fa-location-dot"></i> Direccion</h1>
      <hr />
      <h2>CP 3540-Villa Ángela-Chaco</h2>
    </div>
  </div>
  <div class="col">
    <div class="card text-center p-4 m-4 bg-pink text-white border-dark">
      <h1><i class="fa-brands fa-whatsapp"></i> Whatsapp</h1>
      <hr />
      <h2>03735 46-4287/ 411948</h2>
    </div>
  </div>
</div><br><br>
{% endblock %}
