{% extends 'elementos/estructura.html' %}
{% block contenido %}
  <div class="container text-center">
    <div class="card bg-pink w-50 mx-auto text-white mb-3 p-3">
        <h2>Objetivos</h2><hr>
        <p>Apoyar a las mujeres vulnerables de la sociedad, a elevar su nivel de vida de forma sustentable a largo plazo, mediante:<br> programas,
          estrategias y actividades.<br><br>Ayudar a las mujeres a que tengan un buen desarrollo integral, (cuerpoalma-espíritu) para lograr el triunfo en todas las áreas de su vida.<br>
          <br> Atención integral a mujeres víctimas de violencia de género.<br><br>
          Asesorar y acompañar a las mujeres hasta los organismos públicos.
          Prevención en la descendencia de las mismas.<br><br>Desarrollar un ambiente de cordialidad y solidaridad entre sus
          asociadas. Orientar al mejoramiento intelectual y cultural de las mismas.</p>
    </div>
    <div class="card bg-pink w-50 mx-auto text-white mb-3 p-3">
        <h2>Mision</h2><hr>
        <p>Conformar un equipo de trabajo de profesionales y personal idóneo que atienda
          en forma personalizada y/o grupal situaciones de violencia de género y
          conflictos familiares.<br><br>Auxiliamos a las mujeres a través de un equipo interdisciplinario que nos
          permite asistir:
        <br><br>Asesoría Jurídica,
          Asesoría Espiritual,
          Asesoría Pedagógica,
          Asesoría Nutricionista,
          Talleres y Seminarios múltiples,
          Pintura decorativa,
          Teatro / Canto,
          Gimnasia, baile y más.
        </p>
    </div>
    <div class="card bg-pink w-50 mx-auto text-white mb-3 p-3">
      <h2>Vision</h2><hr>
      <p>Darle a la mujer una solución integral a sus problemas y empoderarla.
        Mantener una calidad de vida equilibrada que permita la replicación a otras
        mujeres.</p>
    </div>
    <body style = "background-color:#fff8dc;"></body>
  </div>
{% endblock %}